ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
  text-align: center;
  justify-content: center;
}

ul a{
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.5ms ease-in-out;
  font-size: 20px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}
ul a:hover{
  background-color: #1c1e21;
  color: white;
}
