body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.left {
    position: relative;
    top: 300px;
    right: 250px;
}

.right {
    position: relative;
    bottom: 290px;
    left: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box {
    border: 1px solid #ffffff;
    padding: 40px;
    border-radius: 0px;
    text-align: center;
    width: 250px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
}

.logo {
    font-family: 'Brush Script MT', cursive;
    color: white;
    font-size: 55px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    background-color: #222;
    color: white;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #0095f6;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.divider {
    color: gray;
    margin: 20px 0;
    position: relative;
}

.divider::before,
.divider::after {
    content: "";
    background: gray;
    height: 1px;
    width: 40%;
    position: absolute;
    top: 50%;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

.login-facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.login-facebook img {
    width: 20px;
}

.login-facebook a {
    color: #0095f6;
    font-weight: bold;
    text-decoration: none;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

.signup-box {
    border: 1px solid #ffffff;
    padding: 15px;
    width: 300px;
    border-radius: 0px;
    text-align: center;
    margin-bottom: 20px;
}

.signup-box p {
    color: white;
    margin: 0;
}

.signup-box a {
    color: #0095f6;
    text-decoration: none;
}

.app-section {
    text-align: center;
    color: white;
    width: 250px;
}

.app-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.app-buttons img {
    width: 130px;
    cursor: pointer;
}

.footer-links a {
    margin: 0 10px;
    color: #606770;
    text-decoration: none;
    font-size: 14px;
  }
  
.footer-links a:hover {
    text-decoration: underline;
  }

.footer {
    position: relative;
    bottom: 250px;
}